name: Deploy to EC2

on:
  push:
    branches: [ "release/*" ]  # main 대신 release/로 시작하는 모든 푸시 감지
  workflow_dispatch:
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.EC2_HOST }}      # EC2 IP 주소
          username: ${{ secrets.EC2_USER }}  # ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}    # PEM 키 내용
          port: 22
          script: |
            cd /home/ec2-user/upstage-network-lecture  # 프로젝트 폴더로 이동
            git fetch my-repo main                     # 최신 코드 가져오기
            git reset --hard my-repo/main
            chmod +x start.sh
            ./start.sh                                 # 서버 재시작